In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Mountains.csv")

In [8]:
df1 = pd.DataFrame(df.groupby("Parent mountain")["Parent mountain"].count())

In [10]:
df1.columns = ["Count"]
df1.loc[df1["Count"] > 3]

                 Count
Parent mountain
Cho Oyu              7
Dhaulagiri           4
Distaghil Sar        5
Gasherbrum I         8
K2                   5
Kangchenjunga        7
Mount Everest        9
Shisha Pangma        4